# Ignore Input and Output directories
#docs/Doxyfile
#docs/DoxygenLayout.xml
#docs/small.png
#docs/latex
#docs/html

# Ignore Logs and compiled code
*.o 
*.limHaloPT

#Ignore max files
.DS_Store

#Ignore .a files
CLASS/lib/libclass.a  
